<h1>Users</h1>

<p> You typed: <%=@login %> </p>
<p> Your password: <%=@password %>  </p>
<p><%= @messageaccess %></p>
                   
<form action='admin' method="POST"> 
   <p>  <input type="text" name="aaa" /> </p>
   <p>  <input type="password" name="bbb" /> </p> 
   <p>  <input type="submit" /> </p>
</form>
